{
  "networking": {
    "allowedIpRanges": [
      "AzureFrontDoor.Backend"
    ]
  },
  "forwardingGateway": {
    "requiredHeaders": {
      "X-Azure-FDID": []
    },
    "allowedForwardedHosts": []
  }
}